body {
    color: #282A2A;
    font-family: 'Roboto Mono', monospace;
}

main {
    width: 75%;
    margin: 45px auto 0;
}

h3 {
    color: #0079FF;
    font-size: 1.25em;
}



/* header */
#header {
	position: fixed;
	top: 0;
	z-index: 20;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 45px;
	background-color: #fff;
	transition: all 0.3s ease-out 0.1s;
}

#header.fixed-hide {
	top: -45px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92.5%;
    margin: 0 auto;
  }

.nav-menu {
    height: 20px;
    color: #282A2A;
    margin-left: 40px;
    text-decoration: none;
    letter-spacing: .1em;
    font-weight: 500;
}

.logo{
    width: 70px;
    height: 20px;
    margin-right: auto;
    margin-left: 0;
}

.logo img {
    width: 35%;
    height: auto;
}


/* main */

/* Hello section */
#hello {
    margin: 20% 0 0;
    height: 85vh;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    line-height: 0.75em;
    font-weight: 400;
}

.button {
    margin: 5em 0;
}

.button a {
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #282A2A;
    border-radius: 5px;
    text-decoration: none;
    color: #282A2A;
    font-weight: 500;
}

/* About section */
#about {
    display: grid;
    grid-template-columns: 1.25fr 1fr; 
    grid-template-rows: 0.3fr 1fr 1fr; 
    gap: 0px 50px; 
    grid-template-areas:
    "title title"
    "text1 image"
    "text2 image";
    margin-bottom: 10em;
}

#about .about-title {
    grid-area: title;
}

#about .about-me {
    grid-area: text1;
}

#about .skills {
    grid-area: text2;
}

#about .portrait {
    grid-area: image;
}

.about-me p {
    line-height: 1.3em;
}

.skills {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.skills p {
    font-weight: 500;
    color: #0079FF;
}

.skills ul {
    column-count: 2;
}

.skills li {
    list-style: none;
    position: relative;
    padding: 0.25em 0 0.25em 1em;
}

.skills li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #3388dd;
    content: "";
}

/* Work section */
#work {
    margin-bottom: 12em;
}
#work h3 {
    margin-bottom: 40px;
}
#work .project{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas:
    "image text";
    margin-bottom: 50px;
}

.project-image {
    grid-area: image;
}

.project-text {
    grid-area: text;
}

.project-text li {
    float: right;
    list-style: none;
    border: 1px solid #3388dd;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 5px;
    font-size: 0.75em;
    color: #0079FF;
    font-weight: 500;
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.project-title h4 {
    margin-right: 35px; 
}

.project-title i {
    margin-right: 15px;
    color: #282A2A;
    text-decoration: none; 
}


/* Contact section */
#contact {
    text-align: center;
    margin-bottom: 10em;
}

.mail-icon {
    font-size: 2em;
}

#contact h3 {
    font-size: 2em;
}

#contact p {
    font-size: 1.25em;
}

